:root{
  --kursiv-text: 'Bickham-Script-One';
  --main-font: 'Montserrat';
  --background-color:  #F7F0E6;
  --kursiv-color: #7C1111;
  --button-color: #B4B4B4;
  --color-text: #C47093;
  --timer-font: 'GentiumPlus';
}